body {
  background-image: url(../assets/siteBGstillimage.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.centeritems {
  display: flex;
  justify-content: space-evenly;
}

.bg-navbar {
  color: (#ffa20d / 0.75);
}

.bg-footer {
  background-color: rgba(0, 0, 0, 0.795);
}

#titletext {
  color: black;
  padding-top: 2rem;
  font-size: 5rem;

}

.bg-black {
  background-color: rgba(0, 0, 0, 0.4);
}
/* Aarons edits */

.card {
  border: none;
}

hr {
  border: none;
  height: 3px;
  color: black;
  background-color: black;
  opacity: 100%;
  width: 80%;
  margin: auto;
}

.img-fluid {
  width: 325px;
  height: 225px;
}

.col-md-3{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

h5{
    font-size: 2rem;
}
@media screen and (max-width: 767px)  {
    
    body{
        background-size: cover;
    }
    #titletext{
        font-size: 3rem;
    }

    .btn{
       align-items: center;
       min-width: 1rem;
    }

    h5{
        font-size: 1rem;
        
    }

    .show{
        display: flex;
        justify-content: space-evenly;
    }
    }    



