body{
    background-image: url(../assets/siteBGstillimage.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.centeritems{
    display: flex;
    justify-content: space-evenly;
}

.bg-navbar{
    color: (#FFA20D / 0.75);
}

.bg-black{
    color: rgba(0, 0, 0, 0.40);
}
